@CHARSET "UTF-8";

body
{
	background-color: #222222;
}

form{}
table{}
tr{}
td
{
	color: #FFFFFF;
}

#form-table
{
	position: static;
	top: 16px;
	left: 8px;
}

.monthly-map-form-heading
{
	color: #FFFFFF;
}

#map-table
{
	position: static;
	top: 8px;
	left: 8px;
}

#score-table
{
	position: static;
	top: 8px;
	left: 8px;
}

.table-header
{
	background-color: #000000;
	color: #FFFFFF;
}

.table-heading
{
	font-weight: bold;
	color: white;
	border-bottom: medium;
	border-bottom-color: white;
	border-bottom-style: solid;
}

.score-table-tr-odd
{
	background-color: #333333;
}

.score-table-tr-even
{
	background-color: #444444;
}

.score-table-td-odd-name {}
.score-table-td-odd-kd {}
.score-table-td-odd-cd {}

.score-table-td-even-name {}
.score-table-td-even-kd {}
.score-table-td-even-cd {}

